dog,개
cat,고양이
fish,물고기들
bird,새
animal,동물
snake,뱀
cow,암소
pig,돼지
mouse,생쥐 /  쥐
horse,말
elephant,코끼리
tail,꼬리
wing,날개
train,기차 /  열차
plane,비행기
car,차 /  자동차
bicycle,자전거
bus,버스
boat,배
tire,지치게 하다
gasoline,가솔린
ticket,교통위반카드 /  딱지
city,도시 /  도회지
house,집
street,도로
airport,공항
train station
bridge,다리
hotel,호텔
farm,농장 /  경작지
a crowd
court,법원 /  법정
hat,모자
dress,의류 /  옷
skirt,치마
shirt,셔츠 /  와이샤쓰
T-shirt,티셔츠
pants,바지
shoes,신 /  신발
pocket,호주머니
red,붉은색의 /  빨간색의 /  적색의
green,녹색의 /  초록색의 /  푸른
blue,파란색의
yellow,노란 /  노란색의
green,녹색의 /  초록색의 /  푸른
brown,갈색의
pink,분홍의 /  핑크색의
orange,주황색의 /  오렌지색의
black,검은색의 /  까만 /  검은
white,흰 /  흰색의
gray,회색
son,아들
daughter,딸
mother,어머니
father,아버지 /  부친
man,남성 /  남자
woman,여자 /  여성
brother,남자형제
sister,여동생 /  누나 /  언니
family,가족 /  가정
grandfather,조부 /  할아버지
grandmother,할머니
husband,남편
wife,아내 /  부인
king,왕 /  국왕 /  군주
queen,여왕 /  여제
neighbor,이웃 사람
boy,소년
girl,여자 아이 /  10대 소녀
religion,종교
death,죽음 /  사망
money,돈
coffee,커피
tea,차
wine,포도주 /  와인
beer,맥주
juice,주스 /  즙
water,물 /  액체
milk,우유
eggs,달걀 /  계란 /  알
cheese,치즈
bread,빵
soup,수프 /  국
cake,케익
chicken,닭
pork,돼지고기
beef,쇠고기 /  비프
apple,사과
banana,바나나
orange,주황색의 /  오렌지색의
lemon,레몬
corn,곡초
rice,쌀 /  쌀밥
oil,석유
seed,씨 /  씨앗
knife,칼
spoon,숟가락
fork,포크
plate,접시
cup,컵 /  잔
breakfast,아침
lunch,점심
dinner,저녁식사 /  저녁
sugar,설탕
table,테이블
chair,의자
clock,시계
bed,침대
lamp,조명 장치
window,창문
door,문
bedroom,침실
kitchen,부엌 /  키친
bathroom,화장실
pencil,연필
pen,펜 /  볼펜
photograph,사진
soap,비누
cell phone
computer,컴퓨터 /  계산기
laptop,랩탑 컴퓨터 /  노트북 컴퓨터
camera,카메라
television,텔레비젼
book,책 /  도서 /  서적
key,열쇠
paint,페이트칠하다
head,머리
face,얼굴 /  안면
hair,머리카락 /  머리
eye,눈
mouth,입
nose,코
ear,귀
tongue,혀
back,등
finger,손가락
toe,발가락
leg,다리
foot,발
heart,심장
blood,피 /  혈액
brain,뇌
tooth,이 /  치아
knee,무릎 /  무릅 관절
sweat,땀흘리다
disease,병
bone,골격
beard,수염 /  턱수염
tear,눈물
sea,바다
river,강 /  하천
mountain,산 /  산맥
rain,비오다
snow,눈 /  강설
tree,나무
sun,태양 /  해
moon,달
forest,숲
plant,식물
wind,바람
soil,흙 /  땅
earth,토양 /  흙
flower,꽃
valley,계곡 /  골짜기
root,뿌리
lake,호수
star,별 /  항성
grass,잔디 /  풀 /  목초
leaf,잎 /  나뭇잎
air,공기
sand,모래
beach,해수욕장
ocean,바다 /  대양
wave,파도 /  물결
morning,아침
evening,저녁
night,어둠 /
Teacher,교사 /  강사 /  선생
doctor,의사
waiter,웨이터 /  (손님의) 시중을 드는 사람
secretary,비서 /  서기
priest,신부 /  성직자
glass,유리
metal,금속
wood,나무 목재 /  재목
stone,돌
clay,점토 /  흙
meter,미터기 /  계량기
centimeter,센티미터
kilogram,무게 단위;1 킬로그램= 1000 그램
inch,인치 (=2.54cm)
pound,파운드
half,반 /  1/2
circle,원 /  원형
square,정사각형
silver,은
gold,금
diamond,다이아몬드 /  금강석
copper,구리색의
ball,공
game,경기 /  게임
price,가격 /  값
gun,총 / 권총
dream,꿈
left,왼쪽의
right,맞는 /  정확한 /  정답의
straight,똑바른 /  곧은
bag,가방
box,상자
barrel,(나무) 통
map,지도
dot,점
poison,독 /  독약
needle,바늘
consonant,자음
vowel,모음
light,조명
yes,그래 /  예 /  네
no,아니 /  아니오
Summer,여름
Spring,봄
Winter,겨울
Fall,떨어지다 /  넘어지다
year,일년
month,달 /  월
day,하루 /  일일
hour,시간
minute,1분
second,초
to work,일하다
to play,놀다 /  놀이하다
to go,가다
to walk,걷다 /  걸어가다
to run,달리다
to drive,운전하다
to follow,뒤따라 가다 /  따라 오다
to think,생각하다
to speak,말하다
to say,말하다
to eat,음식을 먹다 /  식사를 하다
to drink,~을 마시다
to kill,죽이다 /   살해하다
to die,죽다
to smile,미소짓다 /  빙긋 웃다
to laugh,웃다
to cry,울다
to buy,사다 /  구입하다
to shoot,쏘다 /  발사하다
to jump,뛰어넘다 /  건너뛰다
to smell,냄새가 나다
to see,보다 /  구경하다
to taste,미각
to touch,건드리다
to hear,듣다
to kiss,키스하다
to burn,태우다
to melt,녹다
to dig,파다 /  채굴하다 /  파헤치다
to explode,터뜨리다
to sit,앉다
to stand,서다 /  일어서다
to love,사랑하다
to drive,운전하다
to pass,지나가다
to cut,자르다
to fight,~와 싸우다 /  겨루다
to lie down,거짓말
to dance,춤추다
to sleep,자다 /  취침하다
to wake up,잠에서 깨다 /  눈을 뜨다
to sing,노래 부르다
to count,세다
to marry,결혼하다
to pray,기도하다
to win,~에서 이기다 /  승리하다
to lose,잃다 /  잃어버리다
to mix,섞다 /  혼합하다
to stir,섞다
to bend,~을 구부리다
to wash,씻다 /  세척하다 /  세탁하다
to cook,요리하다 /  조리하다
to open,열린 /  열려있는
to close,아주 가까이 /  근접하여 /  밀접하게
long,긴
short,짧은
tall,키가 큰
wide,넓이가 ~인 /  넓이의
narrow,좁은
big,큰 /  커다란
small,작은 /  소형의
slow,느린 /  천천히 하는
fast,빠른
hot,뜨거운 /  더운 /  찌는듯한
cold,추운
new,새로운
old,오래된
good,훌륭한 /  선량한
bad,나쁜 /  사악한 /  부정한
wet,젖은 /  축축한
dry,마른 /  물기없는
sick,몸이 아픈 /  몸이 편찮은
healthy,건강한
loud,소란스러운 /  시끄러운
quiet,조용한 /  한적한
happy,행복한 /  기쁜
sad,슬픈
beautiful,기분 좋은 /  쾌적한 /  아름다운
ugly,못생긴 /  보기 흉한 /  볼품없는
deaf,귀가 먼 /  귀머거리의
nice,사려깊은
mean,함축하다 /  뜻하다
rich,부유한 /  부자의
poor,가난한 /  빈곤한 /  빈한한
thick,두꺼운 /  두툼한 /  깊은
thin,좁은
expensive,비싼 /  값비싼
cheap,싼 /  값이 싼
flat,평평한 /  평탄한
curved,곡선의 /  구부러진 /  만곡의
male,남성
female,자성
tight,타이트한 /  꽉끼는 /  꼭맞는
loose,느슨한 /  헐거운
